// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.nav-tabs {
  border: none;

  .nav-link {
    border: none;
    font-weight: $font-weight-semibold;
    font-size: $h5-font-size;
    padding-left: 0;
    padding-right: 2em;
    color: $secondary;

    .active {
      color: black;
    }
  }
}

.catalog-card {
  cursor: pointer;

  :hover {
    background-color: aliceblue;
  }
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.truncate-oneline {
  @extend .truncate;
  -webkit-line-clamp: 1 !important;
}